<div class="col-md-3 messageside" id="sidepanel">
    <div class="row msggrp">
        <div class="col-md-5">
            <img src="../assets/images/userProfile/<%= user_id %>.jpg" alt="profile picture" class="img-thumbnail">
        </div>
        <div class="col-md-7">
            <a class="picturetitle" href="#">
                <%= name %>
            </a>
        </div>
    </div>

    <div class="row msggrp">
        <div class="col-md-5">
            <img src="../assets/images/userProfile/<%= user_id %>.jpg" alt="profile picture" class="img-thumbnail">
        </div>
        <div class="col-md-7">
            <a class="picturetitle" href="#">
               <%= name %> <i class="fa fa-users me-2"></i>
            </a>
        </div>
    </div>
    <div class="row msggrp">
        <div class="col-md-5">
            <img src="../assets/images/userProfile/male.jpg" alt="profile picture" class="img-thumbnail">
        </div>
        <div class="col-md-7">
            <a class="picturetitle" href="#">
               <%= name %>
            </a>
        </div>
    </div>
    <div class="row msggrp">
        <div class="col-md-5">
            <img src="../assets/images/userProfile/<%= user_id %>.jpg" alt="profile picture" class="img-thumbnail">
        </div>
        <div class="col-md-7">
            <a class="picturetitle" href="#">
               <%= name %> <i class="fa fa-users me-2"></i>
            </a>
        </div>
    </div>
    <div class="row msggrp">
        <div class="col-md-5">
            <img src="../assets/images/userProfile/other.jpg" alt="profile picture" class="img-thumbnail">
        </div>
        <div class="col-md-7">
            <a class="picturetitle" href="#">
               <%= name %>
            </a>
        </div>
    </div>
    <div class="row msggrp">
        <div class="col-md-5">
            <img src="../assets/images/userProfile/<%= user_id %>.jpg" alt="profile picture" class="img-thumbnail">
        </div>
        <div class="col-md-7">
            <a class="picturetitle" href="#">
               <%= name %> <i class="fa fa-users me-2"></i>
            </a>
        </div>
    </div>
    <div class="row msggrp">
        <div class="col-md-5">
            <img src="../assets/images/userProfile/male.jpg" alt="profile picture" class="img-thumbnail">
        </div>
        <div class="col-md-7">
            <a class="picturetitle" href="#">
               <%= name %> 
            </a>
        </div>
    </div>
</div>